.card {
  margin: 20px;
}

.cardContainer {
  padding: 20px;
  min-height: 20vh;
  max-width: 20vw;
  gap: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.cardTop {
  padding-right: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardTitle {
  font-weight: 600;
  font-size: 20px;
}

.cardBottom {
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
